*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
   

     
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    position: relative;
    height: 70px;
    color: white;
}
nav ul{
    display: flex;
    gap: 30px;
    
}
nav ul li{
    list-style-type: none;

}  
nav ul li a{
    color: white;
    text-decoration: none;

}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
    color: white;

}
@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
       transition: all 0.5s; 
    }
}


